<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Товары</title>
</head>
<body>
    <div>
        <h3>Список</h3>
        <table>
            <tr>
                <td><p>Наименование</p></td>
                <td><p>Цена</p></td>
                <td></td>
            </tr>
            {% for p in products %}
                <tr>
                    <td><p>{{ p.name|safe }}</p></td>
                    <td><p>{{ p.price }}</p></td>
                    <td><p><a href="#" class="add-to-cart" data-price="{{ p.price }}" buy-id="{{ p.id }}">В корзину</a></p></td>
                </tr>
            {% endfor %}
        </table>
        <table>
            <tr>
                <td><b>Корзина: </b></td>
                <td><p id="cart-total">0 ₽</p></td>
            </tr>
        </table>
        <button class="make-purchase">Оформить покупку</button>
    </div>
    <script>
        // Инициализируем переменные
        let total = 0;
        const cartItems = new Set(); // Используем Set для хранения уникальных идентификаторов товаров

        // Находим все кнопки "В корзину"
        const addToCartButtons = document.querySelectorAll('.add-to-cart');
        const makePurchaseButton = document.querySelector('.make-purchase');

        // Обрабатываем клик по каждой кнопке "В корзину"
        addToCartButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();  // Предотвращаем переход по ссылке

                // Получаем цену товара из атрибута data-price
                const price = parseInt(this.getAttribute('data-price'));
                const buy_id = parseInt(this.getAttribute('buy-id'));

                // Проверяем, добавлен ли товар в корзину
                if (cartItems.has(buy_id)) {
                    alert("Экземпляр товара уже находится в корзине. Повторное добавление невозможно.");
                } else {
                    // Добавляем товар в корзину
                    cartItems.add(buy_id);
                    console.log(cartItems);
                    total += price; // Суммируем стоимость

                    // Обновляем текст в элементе с id="cart-total"
                    document.getElementById('cart-total').textContent = total + ' рублей';
                }
            });
        });

        // Обрабатываем клик по кнопке "Оформить покупку"
        makePurchaseButton.addEventListener('click', function(event) {
            event.preventDefault();
            if (cartItems.size > 0) {
                // Преобразуем Set в массив и создаем строку с идентификаторами товаров
                const productIds = Array.from(cartItems).join(',');
                // Переход по ссылке с использованием идентификаторов товаров
                window.location.href = `/buy/${productIds}`;
            } else {
                alert("Выберите товар для покупки.");
            }
        });
    </script>
</body>
</html>
