<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Магазин мягкой мебели</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'shop/css/main.css' %}">
</head>
<body>
    <div class="container text-center py-4">
        <h3>Магазин мягкой мебели</h3>
        <table class="table products-table">
            <thead>
                <tr>
                    <th class="text-start">Наименование</th>
                    <th class="text-end">Цена</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for p in products %}
                <tr>
                    <td class="text-start"><p>{{ p.name|safe }}</p></td>
                    <td class="text-end"><p>{{ p.price }} ₽</p></td>
                    <td><a href="{% url 'add_to_cart' p.id %}">В корзину</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

       <h4>Корзина:</h4>
        <ul>
            {% for item in cart_items %}
                <li>
                    {{ item.product.name }} - {{ item.quantity }} шт. ({{ item.product.price }} ₽ за штуку)
                    <a href="{% url 'remove_from_cart' item.product.id %}">Удалить</a>
                </li>
            {% empty %}
                <li>Корзина пуста</li>
            {% endfor %}
        </ul>
        <p>Итог: {{ total_price }} ₽</p>

        <a href="{% url 'purchase' %}" class="btn btn-primary">Оформить покупку</a>
    </div>
</body>
</html>
